@import 'variables.scss';

.calendar {
	overflow-y: scroll;
	margin-top: 6px;
	&__week-container {
		display: flex;
		flex-direction: row;
		justify-content: left;
		width: 100vw;
		margin: 0 8px;
	}
	&__week {
		display: flex;
		flex-direction: row;
	}
	&__day {
		display: flex;
		flex-direction: column;
		border-top: none;
		border-right: none;
		&_today .calendar__day_numb {
			background-color: $highlight-blue;
			border: none;
			border-radius: 50%;
			color: $white;
		}
		&_today .calendar__day_name {
			color: $highlight-blue;
		}
		&_name {
			margin-top: 8px;
			border: none;
			font-size: 11px;
			font-weight: 500;
			margin-bottom: 5px;
			// letter-spacing: 0.8px;
			text-transform: uppercase;
		}
		&_numb {
			height: 40px;
			width: 40px;
			padding: 5px;
			margin: auto;
			border: none;
			// letter-spacing: -2.6px;
			font-size: 26px;
			font-weight: 400;
		}
		&_decoration {
			height: 16px;
			margin: 0px;
			border-right: 1px solid $grey;
			// border-left: 1px solid $grey;
			&:first-child {
				border-left: 1px solid $grey;
			}
		}

		&_time-slot {
			width: calc((100vw - 76px) / 7);
			height: 60px;
			line-height: 59px;
			color: white;
			border-top: 1px solid $grey;
			border-right: 1px solid $grey;
		}
	}
}

.current-time {
	display: flex;
	flex-direction: row;
	align-items: center;
	z-index: 150;
	margin: 0;
	margin-top: -3px;
	&__circle {
		width: 10px;
		height: 10px;
		border: none;
		border-radius: 50px;
		background-color: red;
	}
	&__rectangle {
		height: 2px;
		width: calc((100vw - 76px) / 7 - 5px);
		border: none;
		background-color: red;
	}
}

.sticky {
	position: sticky;
	top: 0;
	min-height: 2em;
	width: calc((100vw - 76px) / 7);
	z-index: 200;
	text-align: center;
	align-self: center;
	border-bottom: 1px solid $grey;
	background-color: $white;
}
