// стили отображаемого в календаре события

.displayed-event {
	display: flex;
	flex-direction: column;
	justify-content: left;
	align-items: flex-start;
	flex-grow: 1;
	flex-shrink: 1;
	flex-wrap: wrap;
	white-space: wrap;
	overflow: hidden;
	width: calc((100vw - 76px) / 7 - 15px);
	margin: auto;
	padding: 2px;
	background-color: $green;
	opacity: 85%;
	color: $white;
	border-radius: 8px;
	box-shadow: 1px 6px 15px 5px rgba(103, 103, 103, 0.5);
	z-index: 5;
	&_click {
		z-index: 10;
	}
	&__name {
		flex-wrap: wrap;
		margin: 0px;
		margin-left: 8px;
		line-height: 15px;
		padding: 0px;
		font-size: 12px;
		font-weight: 300;
	}
	&__description {
		margin: 0px;
		margin-left: 8px;
		font-size: 12px;
		line-height: 15px;
		padding: 0px;
		font-weight: 100;
		text-overflow: ellipsis;
		overflow: hidden;
		white-space: nowrap;
	}
	&__time {
		flex-wrap: wrap;
		margin: 0px;
		margin-left: 8px;
		line-height: 15px;
		font-size: 12px;
		font-weight: 100;
	}
}

.hidden {
	visibility: hidden;
}
