// стили боковой временной шкалы
@import 'variables.scss';

.calendar {
	&__time-zone {
		width: 60px;
		line-height: 1em;
		padding-bottom: 2px;
		border-top: 1px solid $grey;
		border-right: 1px solid $grey;
		background-color: $white;
		&_name {
			margin: auto;
			left: 10px;
			padding: 0px;
			font-size: 12px;
			font-weight: 100;

			// border-top: 1px solid $grey;
		}
	}
	&__time-scale {
		position: relative;
		display: flex;
		flex-direction: column;
		line-height: 60px;
		text-align: center;
	}
	&__time-slot {
		// border-bottom: 1px solid $grey;
		width: 60px;
		height: 60px;
		border-right: 1px solid $grey;

		&_numb {
			margin: 0px;
			// padding-right: 20px;
			left: 18.5px;
			top: 10.5px;
			font-size: 12px;
			font-weight: 100;
			text-align: end;
			display: table-cell;
			vertical-align: bottom;
		}
		&_decoration {
			width: 8px;
			margin: 0px;
			border-right: 1px solid $grey;
			border-bottom: 1px solid $grey;
		}
	}
}

.svg-logo-plus {
	position: sticky;
	display: flex;
	flex-direction: row;
	justify-content: center;
	align-items: center;
	flex-wrap: wrap;
	top: 0;
	min-height: 82.65px;
	max-width: 60px;
	background-color: $white;
	z-index: 120;
}

svg {
	width: 56px;
	height: 56px;
	text-align: center;
	margin: 12.7px auto;
	padding: 5px;
	background-color: $white;
	vertical-align: middle;
	// background-color: green;
	border-radius: 50%;
	border-bottom: 1px solid $grey;

	&:hover {
		cursor: pointer;
		box-shadow: 0 0 0 3px rgba(rgb(121, 120, 120), 0.4),
			0 0 0 6px rgb(237, 235, 237);
	}
}
