$font-color: #70757a;
$highlight-blue: #1a73e8;
$light-blue: #d2e3fc;
$white: #fff;
$grey: #dadce0;
$green: #d8e8c6;
$event-text-color: #3c4043;
$forBoxShadow: inset 0 1px 1px 0 rgb(0, 0, 0.14),
	inset 0 2px 1px -1px rgb(0, 0, 0.12);
